.hourly_card {
  /* background-color: #0d0d0da2; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  height: 110px;
  margin: 4px;
}

.hours {
  font-size: 12px;
}

.hours_temp {
  font-size: 15px;
}
