.othertype_caontainer {
  background-color: #0d0d0da2;
  margin: 4px;
  border-radius: 12px;
  display: flex;
  width: 80%;
  height: 70px;
  flex-direction: column;
  justify-content: space-between;
}

.othertype_title {
  color: #ffffff59;
  font-size: 12px;
}

.icon_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
}

.parameter {
  font-size: 14px;
}

@media screen and (max-width: 425px) {
  .icon_details {
    font-size: 18px;
  }
}
