.main_section {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  height: auto;
  width: 100%;
}

.now {
  width: 100%;
}

.left_container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 2px 4px;
  height: 100%;
  width: 24%;
  max-width: 300px;
}
.right_container {
  display: flex;
  flex-direction: column;
  width: 74%;
  padding: 2px 4px;
  height: 70%;
}

.forecast_label {
  margin: 25px 5px;
}

.future_label {
  margin: 10px 5px;
}

@media screen and (max-width: 1000px) {
  .left_container {
    width: 30%;
    max-width: 100%;
  }

  .right_container {
    width: 70%;
  }
}

@media screen and (max-width: 780px) {
  .header {
    padding: 10px;
  }

  .main_section {
    flex-direction: column;
  }

  .left_container {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .forecast_label {
    display: none;
  }

  .todayLabel {
    display: block;
  }

  .right_container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 10px;
  }

  .main_section {
    flex-direction: column;
    padding: 10px;
  }

  .left_container {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .forecast_label {
    display: block;
    margin: 10px;
  }

  .todayLabel {
    display: block;
  }

  .now,
  .forecast {
    width: 100%;
  }

  .right_container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
} ;
